<div id="gameInfos" class="well jumbotron padded-v">
    <!--infos du jeu-->
    <div class="row">
        <div class="col-lg-12">
            <h1>
                {{game.name}}

                <sup class="version">{{game.version}}</sup>
                <sub>
                    <a href="{{game.author_url}}">
                    by {{game.author}}</a>
                </sub>
            </h1>
        </div>
        <div class="col-lg-6">
            <div class="well" ng-include="'laBatailleRules.html'"></div>
        </div>
        <div class="col-lg-6">
            <div class="well">
                {{game.shortDescription}}
                <br>
                <i class="fa fa-clock-o"></i>
                durée de partie: {{game.time}} minutes

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <h2>
                <i class="fa fa-user"></i>
                Joueurs</h2>
            {{game.players.default}} par défaut
            <br>
            {{game.players.min}} minimum
            {{game.players.max}} maximum
        </div>
        <div class="col-lg-3">
            <h2>
                <i class="fa fa-recycle"></i>
                Workflow
            </h2>
            Déroulement de la partie
            <div ng-repeat="(key, val) in game.workflowDisplay()">
                <div ng-if="key == 'next-turn'">
                    <div ng-repeat="(subKey, subVal) in key">
                        {{subKey}} : {{subVal}}
                    </div>
                </div>
                {{key}} : {{val}}
            </div>
        </div>
        <div class="col-lg-3">
            <h2>
                éléments du jeu
            </h2>

            <div ng-if="game.nbCards == 52">
                <i class="fa fa-play-circle"></i>
                Jeu de 52 cartes classique
            </div>
            <div ng-if="game.other_objects.dices">dés</div>
            <div ng-if="game.other_objects.money">monnaie</div>
            <div ng-if="game.other_objects.tokens">marqueurs</div>
            <div ng-if="game.computer">
                <i class="fa fa-desktop"></i>
                ce jeu peut se jouer en opposition avec l'ordinateur
            </div>
            <div ng-if="game.webSocket">
                <i class="fa fa-users"></i>
                ce jeu peut se jouer à plusieurs via webSocket
            </div>

        </div>
    </div>


</div>