<h2>joueurs: <i class="fa fa-user"></i></h2>


<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div id="player-{{j.id}}" ng-repeat="j in players" class="col-lg-3 col-sm-3 well">
			<i class="fa fa-user"></i> {{j.name}}
		</div>
		</div>
	</div>
	<div id="log"></div>
</div>
<a href="test.html">test.html</a>