auteur: {{game.author}}
<!--<pre>-->
<!--players :-->
	<!--{{players|json}}-->
<!--</pre>-->

<div ng-repeat="j in players" class="col-lg-3 col-sm-3 well">
	<i class="fa fa-user"></i> {{j.name}}
</div>

<h1>
	Table
</h1>
<div ng-repeat="card in cards">
	<pre>
	card :
		{{card|json}}
	</pre>
</div>