@import 'vars';
// cards style
.dark-card{
  background: $dark;
  color: $light;
}
.red-card{
  background: $red;
  color: $light;
}
.card{
  border-radius: 0.5em;
  border: 2px solid white;
  padding: 1em;
  height: 10em;
  width: 10ch;
}
//"♥","♣", "♦","♠"
.card-trèfle{
  @extend .dark-card;
  &:before{
    content: "♣";
    color: $dark;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
  }
}
.card-pique{
  @extend .dark-card;
}
.card-coeur{
  @extend .red-card;
}
.card-carreau{
  @extend .red-card;
}

// style de base des cartes à surcharger par les jeux
.card{
  border-radius: 0.25em;
  border-color: $dark;
  &.face{

  }
  &.back{

  }
}