
.hl {
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background: #ccc;
}
.well{
  background: #012;
  .well {
    @extend .hl;
  }
  border: 0;
}
.points{
  background: $clair !important;
  color: $red;
  border-radius: 30em;
}
#log{
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  margin: 1em 0;
  border: solid 1px $main-color;
  padding: 1em;

}

body{
  background: black;
  font-family: 'Gill Sans', Calibri, Arial;
  color: $main-color;
}
.score{
  font-size: 3em;
}
#graveyard{
  .card{
    float: left;
    margin: 1em 0.5em ;
  }
}
#input-choice{
  min-height: 350px;
  padding: 2em;
  .score-14{
    font-size: 2em;
  }
  .score-13{
    font-size: 1.85em;
  }
  .score-12{
    font-size: 1.55em;
  }
  .score-11{
    font-size: 1.4em;
  }
  .score-10{
    font-size: 1.25em;
  }
}

#gameInfos{
  background: $white;
}